*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    width: 80%;
    margin: auto;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 160px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: cursive;
  }
  
  li a.active {
    background-color: lightgray;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  h1{
    font-family: cursive;
  }
  .jobb{
    float: right;
    grid-area: j;
    height: 200px;
    text-align: right;
  }
  main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    " h h h "
    " n a j"
    " b a j"
    " f f f";
  }
  .bal{
    grid-area: b;
  }
  article{
    grid-area: a;
    text-align: center;
  }
  article img{
    margin: auto;
    max-width: 120%;
}
  header{
    grid-area: h;
  }
  footer{
    grid-area: f;
  }
  nav{
    grid-area: n;
    max-width: 100px;
  }
  @media screen and (max-width: 720px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "h h"
        "n n"
        "b b"
        "a a"
        "j j"
        "f f";
    }
    .jobb{
      text-align: center;
    }
}
  @media screen and (max-width: 520px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "n"
        "b"
        "a"
        "j"
        "f";
    }
    .bal{
      text-align: center;
    }
    .jobb{
      text-align: center;
    }
}